
        *{
            font-family: roboto;
            letter-spacing: 0.1em;
        }
        h2 {
            font-size: 24px;
        }

        .navbar {
            background-color: #2C3034 !important;            
            padding: 0;
            position: fixed;
            width: 100%;
            z-index: 1;
        }

        .nav-title {
            display: none;
        }

        .navbar-nav {
            justify-content: space-between;
            margin: 0 auto;
            width: 100%;
            padding: 0 3% 0 3%;
            height: 80px;
            background-color: #2C3034 !important;
        }

        .navbar-brand {
            width: 12em;
            height: 110px;
            margin: 0 4%;
            background-color: #2C3034 !important;
            border-radius: 50px;
            text-align: center;
        }

        .navbar-brand2 {
            display: none;
        }


        .nav-item {
            height: 80px;
            width: 25%;
            font-size: 1.6em;
            text-align: center;
            margin-top: -3px;
        }


        .logo {
            height: 90px;
        }

        .nav-link {
            margin-top: 0.6em;
            text-align: center;
            color: white!important;
        }

        .navbar-toggler {
            margin: 2%;
            border: none;
        }

        .navbar-toggler-icon {
        color: #eee;
        height: 30px;
        }

        .fas{
            color: white;
        }

        nav.black, nav.black ul, nav.black li, nav.black .logo {
            height: 60px;
            transition: 0.3s;
            background-color: #2C3034 !important;
        }

        nav.black .navbar-brand {
            width: 10em;
            height: 80px;
            transition: 0.3s;
            background-color: #2C3034 !important;
        }

        nav.black .nav-link{
            margin-top: 0.2em;
            transition: 0.3s;
        }

        @media only screen and (max-width: 990px) {

            .navbar {
                height: 80px;
            }

            .navbar-nav {
                width: 100%;
                height: 100%;
                padding-bottom: 20px;
                justify-content: center;
            }

            .nav-title {
                display: block;
            }

            .navbar-brand {
                display: none;

            }

            .navbar-brand2 {
                display: block;
            }

            .logo2 {
                height: 50px;
                margin: 10px 10px 10px 0;
            }

            .nav-item {
                margin: 0 auto;
                width: 50%;
            }

            .nav-link {
                width: 100%;
            }

nav.black .nav-item{
    margin: 2% auto;
}

nav.black, nav.black ul, nav.black li, nav.black .logo {
            height: 85px;
        }

            nav.black .navbar-nav {
                height: 100%;
            transition: 0.3s;
            background-color: #2C3034 !important;
        }
        }