.dropbtn {
    text-align: center;
    color: white !important;
    background-color: #1E2022 !important;
    border: none;
    line-height: 2.7em;
    margin-top: 0.3em;
  }

  .dropbtn:focus{
    outline: none;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    transition: 2s;
    margin-top: 1%;
    z-index: 600;
  }

  #drop {
    color: #eee!important;
    font-size: 16px;
    padding: 12px 34px;
    text-decoration: none;
    display: block;
    z-index: 600;
  }

  #drop:hover {
    background-color: rgb(52, 54, 56) !important;
    color: white;
    transition: 0.5s;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #1E2022 !important;
  }

  nav.black .dropbtn {
      line-height: 2em;
  }

  @media only screen and (max-width: 990px) {

    .dropbtn {
    margin: -2% 0 0 4%;
  }

  nav.black .dropbtn {
      margin: 0 0 -6px 15px;
  }
}