.jumbotron {
    margin-bottom: 0em;
}

/*parallax*/
.parallax-window {
    min-height: 600px;
    background: transparent;
}
/* fin parallax*/

.btn-lg{
    background-color: #2C3034!important;
}

.btn-floating{
    padding: 0;
}

