.jumbotron {
    margin-bottom: 0em;
}

/*parallax*/
.parallax-window {
    min-height: 600px;
    background: transparent;
}
/* fin parallax*/

.btn-lg{
    background-color: #2C3034!important;
}

.btn-primary{
 border: none!important;   
}

.btn-floating{
    padding: 0;
}

.voirplus{
    background-color: rgb(202, 202, 202)!important;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 40% 0;
    font-size: 24px;
    color: black!important;
    text-decoration: none;
}

.suite:hover{
    color: rgb(202, 202, 202)!important;
    text-decoration: none;
}

.drop{
    display: none;
}

#dropdownMenu2{
    background-color: #2C3034!important;
    font-size: 20px;
    padding: 1% 3%;
}

.dropdown-menu{
    margin-left: -18px;
    line-height: 3em;
}

@media only screen and (max-width: 990px) {

#filters{
    display: none;
}

    .drop{
        display: block;
        text-align: center;
    }


}